@import "variables";

.swiper {

  &-slide {
    height: auto;
  }

  &-scrollbar {
    &.swiper-scrollbar-horizontal {
      border-radius: 0;
      background-color: #f2f2f2;
      left: 0;
      bottom: 0;
      height: 8px;
      width: 100%;

    }

    &-drag {
      background-color: $accent;
      border-radius: 0;
    }
  }
}

@media (max-width: 500px) {
  .swiper {

    &-scrollbar {
      &.swiper-scrollbar-horizontal {
        height: 4px;
      }
    }
  }
}
